.paper {
  margin: auto;
  width: 250px;
}

/* .card {
  padding-left: 30px;
} */

.input {
  margin: 20px;
}

.select {
  width: 230px;
}

.button {
  margin: 20px;
}
.list {
}
.list a {
  text-decoration: none;
}
.list a:hover {
  text-decoration: underline;
}
