.button {
  background-color: white;
}

.appbar {
  color: white;
}

.appbar a {
  text-decoration: none;
  color: white;
}

.toolbar {
  display: flex;

  justify-content: space-between;
}

.loginbtn {
  margin-left: 20px;
  background-color: white;
}
