.global {
  margin: 15px;
  /* width: 400px; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  height: 100%;
  display: inline-flex;
  align-items: flex-start;
  /* text-align: center; */
}

/* .global div {
  border: 1px #ccc solid;
  padding: 10px;
} */

.global b {
  color: limegreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
    Courier, monospace;
  font-size: large;
  padding-left: 30px;
}

.card {
  flex: 1;
}
